.container {
    max-width    : $container-width;
    margin-left  : auto;
    margin-right : auto;
    padding-left : $container-padding;
    padding-right: $container-padding;

}

body {
    font-family: $font-family;
    background-color: #f2f2f2;
    font-size: 14px;
}

a,
a:visited,
a:active {
    color: $dark-gray;
}

.icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }