.Nav {
    border-bottom   : 1px solid $border-color;
    background-color: white;

    .container {
        display    : flex;
        height     : 58px;
        align-items: center;
    }


    &-bar {
        display: flex;

        &-item {
            cursor: pointer;
            user-select: none;
            margin-right: 15px;
            border: 1px solid $menu-border-gray;
            border-radius: 15px;

            a {
                display: block;
                padding: 4px 19px;
                border-radius: 15px;
                color: $dark-gray;
            }

            a:hover {
                color: white;
                background-color: $light-blue-color;
            }
        }
    }
    
    @include mq("xsmall") {
        display: none;
    }
    
    @include mq("small") {
        display: none;
    }
    
    @include mq("medium") {
        &-bar {
            width: 100%;
            justify-content: center;
        }
    }

}